body{
	font-family: monospace;
	background: #41295a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #FFF;
}

img{
	width: 300px;
	height: 300px;
}

a{
	text-decoration: none;
	color: #FFF;
	font-weight: bolder;
}
.container{
	margin: 30px 0px;
    width: 100%;
    display: inline-table;
    text-align: center;
    align-items: center;
    justify-content: center;
}